
.container-slideshow {
    left: 100px;
    width: 493px;
    height: 547px;
    position: absolute;
    top: 228px;
}
.slide-container {
    border-radius: 5px;
}

.slide {
    display: none;
    width: 100%;
}

.slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.slide-active {
    display: block;
}

.dot-container {
    width:100%;
    margin-top: 37px;
    display: flex;
    justify-content: center;
}

.dot {
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #BDBDBD;
    border-radius: 50%;
    margin: 0 7.5px;
}

.dot-active {
    background: #000000;
}